.wraper{
    text-align: center;

}

h1{
    font-size: 10vw;
    line-height: 12vw;
    font-family: 'Helvetica Neue';
    color: #000000;
    font-weight: 700;
    line-height: 0.7;
    padding-top: 50px;
}


h2{
    color: #434343;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 24px;
    padding-top: 50px;
}

.header-img{
    width: 65%;
    
}

.p-style{
    color: #1d1c1d;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    text-decoration: normal;
    font-size: 24px;
      
}

.iconify { color: red; }

h3{
    font-size: 6.5vw;
    font-family: 'Helvetica Neue';
    color: #000000;
    font-weight: 700;
    vertical-align: baseline;
    padding-top: 20px;
    margin-bottom: 40px;
}

.intro-img{
    width: 65%;
    
}

.p2-style{
    color: #1d1c1d;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    text-decoration: normal;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 40px;
      
}

.video-bg{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

