.navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.p-header {
    font-size: 15pt;
    margin-top: 14%;
    }

.logo-header{
   width: 70px;
   margin-right: 20px;
}

.bg-light{
    background-color: white !important;
}